*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%; /* Це забезпечує адаптивність зображення */
    height: auto; /* Зберігає пропорції зображення */
    margin: 0 auto; /* Вирівнює зображення по центру, якщо потрібно */
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 320px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media (min-width: 1158px) {
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        }
}
.header-style {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-logo-text {
    display: block;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase; /* великі букви */
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    padding-top: 16px;
    padding-bottom: 16px;
}
.menu-span-text {
    color: #2E2F42;
}

@media (min-width:768px) {
    .header-logo-text {
        padding-top: 24px;
        padding-bottom: 24px;
        margin-right: 120px;
    }
}

@media (min-width: 1158px) {
    .header-logo-text {
        margin-right: 76px;
        }
}

.header-buttum {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #FFFFFF;
    padding: 0;
}
.ul-header,
.ul-adress-style {
    display: none;
}

@media (min-width: 768px) {
    .header-buttum {
        display: none;
    }
    .header-nav-style {
        display: flex;

    }
    .ul-header {
        display: flex;
        gap: 40px;
    }
    .nav-li-text-style {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2E2F42;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        align-items: center;
    }
    
    .nav-li-text-style:hover,
    .nav-li-text-style:focus {
        color: #404BBF;
    }
    
    .li-dekor {
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .li-dekor::after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .address-style {
        display: flex;
        align-items: center;
    }

    .ul-adress-style {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 12px;
    }

    .info-style {
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: #434455;
        font-style: normal; /* Прибираємо курсив */
    }
    .info-style:hover,
    .info-style:focus {
        color: #404bbf;
    }

}

@media (min-width: 1158px) {
    .ul-adress-style {
        gap: 40px;
    }
    .info-style {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        }
}

.section-one-style {
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/Dark1.jpg');  
    background-size: cover;
    /* Зображення покриває весь контейнер */
    background-position: center;
    /* Центрує зображення в контейнері */
    background-repeat: no-repeat;
    /* Зображення не повторюється */
}

.container-section-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 72px;
}

@media (min-width: 768px) {
    .section-one-style {
        padding-top: 112px;
        padding-bottom: 112px;
    }
    .container-section-one {
        gap: 36px;
    }

}

@media (min-width: 1158px) {
    .section-one-style {
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
        margin: 0 auto;
    }
    .container-section-one {
        gap: 48px;
    }
    
}
.section-one-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    width: 216px;
}

@media (min-width: 768px) {
    .section-one-text {
        font-size: 56px;
        line-height: 107%;
        width: 496px;
    }
}

.section-one-button {
    width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border-radius: 4px;
    border-style: none;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-one-button:hover,
.section-one-button:focus {
    background-color: #404BBF;
}

.section-two-style {
    padding-top: 96px;
    padding-bottom: 96px;

}

@media (min-width: 1158px) {
    .section-two-style {
        padding-top: 120px;
        padding-bottom: 120px;

    }
}
.ul-two-section {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

@media (min-width: 768px) {
    .ul-two-section {
        gap: 0;
        column-gap: 24px;
        row-gap: 72px;
        }
}

.section-two-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}
@media (min-width: 768px) {
    .section-two-title {
            text-align: start;
        }
    .li-two-style {
        width: calc((100% - 24px) / 2);
         }
}


.section-two-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
@media (min-width: 1158px) {
    .section-two-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
    }
    .section-two-text {
        font-weight: 400;
    }
    .li-two-style {
        width: calc((100% - 72px) / 4);
    }
        
}

.div-icons {
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


@media (min-width: 1158px) {
    .div-icons {
        display: flex;
    }
}

.section-three-style {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #F4F4FD;
}

@media (min-width: 1158px) {
    .section-three-style {
        padding-top: 120px;
        padding-bottom: 120px;
        }
}

.section-three-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}
.ul-section-three {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

@media (min-width: 768px) {
    .ul-section-three {
            gap: 0;
            column-gap: 24px;
            row-gap: 64px;
        }
}

.section-three-li {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    max-width: 264px;
}

@media (min-width: 768px) {
    .section-three-li {
        width: calc((100% - 24px) / 2);
    }
}
@media (min-width: 1158px) {
    .section-three-li {
        width: calc((100% - 72px) / 4);
        }
}

.name-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding-left: 16px;
    padding-top: 32px;
    padding-right: 16px;
    padding-bottom: 32px;
}

.section-three-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.section-three-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.ul-three-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.li-icons-three-style {
    width: 40px;
    height: 40px;
}

.a-icons-style {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-icons-style:hover,
.a-icons-style:focus {
    background-color: #404BBF;
}

.svg-icon-style {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #FFFFFF;
}

.section-four-style {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #FFFFFF;
}

@media (min-width: 1158) {
    .section-four-style {
        padding-top: 120px;
        padding-bottom: 120px;
        
        }
}
.section-four-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.ul-four-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
}

@media (min-width: 768px) {
    .ul-four-section {
        gap: 0;
        column-gap: 24px;
        row-gap: 72px;
        }
}
@media (min-width: 1158px){
    .ul-four-section {
        row-gap: 48px;
    }
}

.li-four-style {
    position: relative;

}
@media (min-width: 768px) {
    .li-four-style {
        width: calc((100% - 24px) / 2);
    }
}
@media (min-width: 1158px) {
    .li-four-style {
        width: calc((100% - 48px) / 3);
    }
}

.overlay-section-four {
    position: relative;
    overflow: hidden;
}

.paragraf {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
}

.hover-overlay-section-four:hover .paragraf {
    transform: translateY(0%);
}

.li-name-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 16px;
    padding-top: 32px;
    padding-right: 16px;
    padding-bottom: 32px;
    border: 1px solid #E7E9FC;
    border-top: none;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media (min-width: 1158px) {
    .li-name-container {
        box-shadow: none;
    }
    
    .li-name-container:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }
}

.section-four-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section-four-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer-style {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #2E2F42;
}
@media (min-width: 1158px) {
    .footer-style {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
.container-footer-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}


.style-logo-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.logo-webstudio-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

.logo-span-footer {
    color: #F4F4FD;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 288px;
}
@media (min-width: 768px) {
    .footer-text {
        width: 264px;
    }
}

.style-footer-paragraf {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}
.ul-footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.li-footer-social {
    width: 40px;
    height: 40px;
}

.a-footer-style {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-footer-style:hover,
.a-footer-style:focus {
    background-color: #31d0aa;
}

.footer-icon-style {
    fill: #FFFFFF;
}
.style-footer-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 8px;
}

.style-footer-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.input-footer-email {
    width: 288px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding-left: 18px;
}
@media (min-width: 768px) {
    .input-footer-email {
       width: 264px;
    }
}

.input-footer-email::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #FFFFFF;

}

.style-footer-but {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.style-footer-but:hover,
.style-footer-but:focus {
    background-color: #404BBF;
}
@media (min-width: 768px) and (max-width: 1157px) {
    footer .container {
        padding-left: 108px;
    }
}


@media (min-width: 768px) {
    

    .container-footer-style {
        justify-content: flex-start;
        gap: 0;
        column-gap: 24px;
        row-gap: 72px;
    }

    .style-logo-footer {
        align-items: flex-start;
    }

    .style-footer-paragraf {
        text-align: left;
    }

    .style-footer-subscribe {
        text-align: left;
        margin-bottom: 16px;
    }

    .style-footer-form {
        flex-direction: row;
        gap: 24px;
    }
}

@media (min-width: 1158px) {

    .footer-style {
            padding-left: 0;
        }
    .container-footer-style {
        column-gap: 0;
    }

    .social-m {
        margin-right: 80px;
    }

    .style-logo-footer {
        margin-right: 120px;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.moda-window-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 16px;
    padding-top: 72px;
    padding-right: 16px;
    padding-bottom: 24px;
}

.moda-but {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.moda-but:hover {
    background-color: #404bbf;
    border: none;
}

.moda-but:focus {
    background-color: #404bbf;
    border: none;
}

.style-but-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.moda-but:hover .style-but-icon,
.moda-but:focus .style-but-icon {
    fill: #ffffff;
}

.moda-paragraf {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.moda-form-style {
    margin-bottom: 8px;
    width: 256px;
}

.moda-lab-style {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.lab-inp-style {
    position: relative;
}

.moda-inp-style {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.moda-inp-style:focus {
    border-color: #4D5AE5;
}

.moda-icon-style {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.moda-inp-style:focus+.moda-icon-style {
    fill: #4D5AE5;

}

.form {
    display: flex;
    align-items: center;
    flex-direction: column
}

.form-text {
    margin-bottom: 16px;
}

.form-text-box {
    display: block;
    width: 256px;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    margin: 0;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text-box:focus {
    border-color: #4D5AE5;
}

.form-style-box {
    margin-bottom: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.form-chek-box {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-chek-box-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

input[type="checkbox"]:checked+label .form-chek-box-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.form-link {
    color: #4d5ae5;
}

.form-but {
    display: block;
    width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    padding: 0;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-but:hover,
.form-but:focus {
    background-color: #404BBF;
}



@media (min-width: 768px) {
    .moda-window-style {
        width: 408px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .moda-form-style {
        width: 360px;
    }

    .form-text-box {
        width: 360px;
    }

    .form-style-box {
        width: 360px;
    }
}
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 998;
    opacity: 0;
    pointer-events: none;
}

.menu-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.menu-button-cloce {
    position: absolute;
    /* позіціонує відносно батьківського елемента або вікна браузера */
    display: flex;
    /* для выравнивания контента иконки */
    align-items: center;
    /* для выравнивания контента иконки */
    justify-content: center;
    /* для выравнивания контента иконки */
    top: 24px;
    /* позиция кнопки */
    right: 24px;
    /* позиция кнопки */
    width: 24px;
    /* размер кнопки*/
    height: 24px;
    /* размер кнопки*/
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 1px solid #E7E9FC;
    padding: 0;
    cursor: pointer;
}
.div-style {
    display: flex;
    justify-content: space-around;
}
.menu-navigaciya {
    margin-top: 72px;
    
}

.menu-ul-navigaciya {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style-type: none;
    /* уберает точки */
    margin: 0;
    padding: 0;
}

.menu-navigaciya-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
    /* Прибирає нижнє підкреслення */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* стилізуе зміну перходу властивості*/
}

.menu-navigaciya-text:hover,
.menu-navigaciya-text:focus {
    color: #404BBF;
}

.menu-address {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 48px;
    margin-bottom: 48px;
}

.menu-ul-address {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    /* уберает точки */
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu-address-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-address-text:hover,
.menu-address-text:focus {
    color: #4D5AE5;
}

.menu-icons {
    display: flex;
    align-items: center;
    align-content: flex-start;
    gap: 40px;
    padding-left: 16px;
}

.menu-li-icons {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px
}

.menu-ul-link {
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu-icons-style {
    fill: #FFFFFF;
}

@media (min-width: 786px) {
    .menu-overlay {
        display: none;
    }
}

















/* Для екранів до 767px з 2x щільністю */
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
(max-width: 767px) and (min-resolution: 192dpi) {
    .section-one-style {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/Dark2.jpg');
    }
}

/* --- Для екранів від 768px до 1157px --- */

/* Для екранів від 768px до 1157px з 1x щільністю */
@media (min-width: 768px) and (max-width: 1157px) {
    .section-one-style {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/Dark7681.jpg');
    }
}

/* Для екранів від 768px до 1157px з 2x щільністю */
@media (min-width: 768px) and (max-width: 1157px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 768px) and (max-width: 1157px) and (min-resolution: 192dpi) {
    .section-one-style {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/Dark7682.jpg');
    }
}

/* --- Для екранів від 1158px і більше --- */

/* Для екранів від 1158px з 1x щільністю */
@media (min-width: 1158px) {
    .section-one-style {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people1.jpg');
    }
}

/* Для екранів від 1158px з 2x щільністю */
@media (min-width: 1158px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1158px) and (min-resolution: 192dpi) {
    .section-one-style {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people2.jpg');
    }
}





